.gamesCard {
    margin: .5em;
    max-width: 27em;
	display: flex;
	min-width: 18vw;
	max-height: 182px;
}

.gamesCard > img {
    margin-right: 1em;
}

.gamesCardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 65%;
}

@media (max-width: 480px) {
    .gamesCard {
		width: 100%;
	}
	.gamesCard > img {
		max-width: 130px;
	}
	.gamesCardTextContainer {
		align-items: flex-start;
	}
}