.gamesCard {
    margin: .5em;
    width: 32%;
	display: flex;
	min-width: 18vw;
}

.gamesCard > img {
	width: 32%;
	height: auto;
    margin-right: 1em;
}

.gamesCardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 65%;
}