.gameTemplatesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7em;
}

.spinner {
    margin: 2em;
} 

.mobilePaginationContainer {
	display: none;
}

@media (max-width: 480px) {
	.gameTemplatesContainer {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}