.tick  {
	float: left;
	margin-right: 1em;
}

.stepContainer {
    flex: 2;
    justify-content: space-evenly;
    flex-direction: column;
	align-items: center;
	margin-top: 2em;
}

.stepDescription {
	padding-left: 2em;
}

.position {
	max-width: 1em;
	margin-right: 1em;
}

.positionAndNameContainer {
	display: flex;
	flex-direction: row;
}

.positionNameDeleteContainer {
	display: flex;
	justify-content: space-between;
}

.deleteButton {
	margin-bottom: 1em;
}