.featureTextContainer {
    padding: 5vh 20px 30vh;
    line-height: 1.5;
}

.featureTextContainer > h2 {
    margin-bottom: 2em;
}

.featureTextContainer > h1 {
    font-size: 600%;
    font-family: 'Staatliches', cursive;
    margin-bottom: 0em;
}

.featureTextContainer > h2 {
    margin-top: 0em;
    font-family: 'Open Sans', sans-serif;
    color: #ff67cd;
}


.featureTextContainer > ul {
    margin-top: 0em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

.featureContainer {
    background-color: #333333;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("../../assets/images/dark_souls_3_sc.jpg");
    background-position:center;
    background-repeat: no-repeat;
	background-size: cover;
	justify-content: flex-start;
	padding-left: 15em;
}

.buttonContainer {
    display: flex;
    padding: 1em;
}

.buttonContainer > Button {
    margin: 0em .75em;
    background-color:#4CAF50;
}

@media (max-width: 480px) {
	.featureContainer {
		padding-left: 0em;
	}
	.featureTextContainer > h1 {
		font-size: 200%;
	}
	.featureTextContainer {
		padding: 1vh 20px 2vh;
		line-height: 1.5;
	}
	.featureTextContainer > h2 {
		margin-bottom: 1em;
	}	
	.buttonContainer {
		justify-content: center;
	}
}