.dialog {
	max-width: 80%!important;
	padding-bottom: 0!important;
}

.buttonContainer {
	display: flex;
	justify-content: space-around;
	padding: .5em;
}

@media (min-width: 480px) {
	.deleteButtonContainer {
		display: none;
	}
}