.gamesContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding-left: 1em;
    margin: 2em;
    flex-wrap: wrap;
    /* width: 80vw; */
    max-width: 1180px;
}

@media screen and (min-width:1200px) {
    .gamesContainer {
        justify-content: flex-start;
    }
}