.templateSummaryCard {
    width: 75%;
    max-width: 1000px;
}

.cardContentContainer {
    display: flex;
}

.cardDescriptionContainer {
    width: 100%;
    display:flex;
    flex-direction: column;
	align-items: center;
	background-color: #3337;
	margin: 0 0 0 1em;
}

.cardDescriptionContainer > hr {
    width: 90%;
}

.cardStatsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1em;
}

.cardStatsContainer > p {
	margin: 0;
}

.cardSummaryTextContainer {
    margin: 2em;
	min-width:90%;
	flex-grow: 1;
}

.cardButtonContainer {
    text-align: center;
    font-size: 1.25em;
	padding-top: .5em; 
	min-height: 7em;
}

.button {
    width: 100%;
    margin-bottom: .75em;
}

.titleAndEditButtonContainer {
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;
	margin-left: 1.5em;
}

@media (max-width: 480px) {
	.templateSummaryCard {
		width: 90%
	}
	.cardContentContainer {
		width: 175px;
	}
	.cardStatsContainer {
		flex-direction: column;
		align-items: center;
		padding: 1em 0;
	}
	.cardImageAndButtonContainer {
		padding: 1em;
	}
	.cardImageAndButtonContainer > img {
		height: auto;
		width: 100%;
	}
	.button {
		text-align: center;
	}
	.templateSummaryCard {
		padding: 0!important;
	}
	.titleAndEditButtonContainer {
		text-align: center;
		margin-left: 0;
		flex-direction: column-reverse;
	}
	.templateSummaryButton {
		margin-top: 1em;
		align-self: end;
	}
	.cardDescriptionContainer {
		margin: 1em 0;
	}
}