.popularGamesContainer {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5em;

} 

.popularGamesContainer > h2 {
    font-size: 250%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 0em;
}

.gamesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    margin: 2em;
    flex-wrap: wrap;
    max-width: 1180px;
}

.gamesCard {
    margin: .5em;
    width: 32%;
    display: flex;
}

.gamesCard > img {
    width: 32%;
    margin-right: 1em;
}

.gamesCardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}