.playthroughCard {
    width: 100%;
    margin-top: 1em;
}

.playthroughCardContainer {
    display: flex;
    justify-content: space-between;
	width: 100%;
	flex-direction: column;

}

.playthroughDetailsContainer {
    flex: 2;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.cover {
    max-width: 18%;
    margin-right: 2em;
}

.playthroughCardContainer > hr {
    width: 90%;
    margin-left: 3em;
}


.playthroughName {
    margin: 0.25em;
}


.imageAndInfoContainer {
	display: flex;
	margin: 1em;
}

.titleAndButtonsContainer {
	display: flex;
	justify-content: space-between;
}


.buttonsContainer {
	display: flex;
}

.button {
	margin-right: 1em;
}