.spinner {
    padding: 10em;
} 

.templatesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5em;
    padding-top: 7em;
}

.sectionsContainer {
    width: 75%;
    max-width: 1000px;
}

.addNewSectionButton {
	margin-right: 62em;
}