.sectionCard {
    width: 100%;
	margin-top: 1em;
	display: flex;
    justify-content: space-between;
}

.sectionCardTitleAndButtonContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.positionAndNameContainer{
	display: flex;
	flex-direction: row;
}

.position {
	max-width: 2em;
	margin-right: 1em;
}

.deleteAndEditButton {
	display: flex;
}

.sectionPositionContainer{
	display: flex;
}

@media (max-width: 480px) {
	.deleteAndEditButton {
		align-self: end;
	}
	.deleteAndEditButton > .deleteButtonContainer {
		display: none;
	}
	.sectionPositionContainer > h2, .position > h2{
		margin: 0em!important;
		height: 25px;
	}
	.position {
		max-width: 5em;
	}
	.sectionCardTitleAndButtonContainer {
		flex-direction: column-reverse;
	}
	.positionAndNameContainer{
		flex-direction: column;
		align-self: start;
	}
	.editButton {
		padding-left: 1em;
	}
}