.templateCard {
    width: 100%;
    margin-top: 1em;
}

.templateTileCardContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.templateCardTitleAndAuthorContainer {
    flex: 2;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.cover {
    max-width: 18%;
    margin-right: 2em;
}

.templateCardTitleAndDeleteContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.spinner {
	width: 10%;
	padding-right: 1.5em;
}
