.authContainer {
    display: flex;
    margin-top: 10em;
    min-height: 75vh;
    align-items: center;
    flex-direction:column;
}

.textField{
    width: 25em;
}

.login {
    margin-top:1.25em;
}