.myTemplatesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7em;
}

.spinner {
    margin: 2em;
} 

.paginationContainer {
    padding: 2em;
}

@media (max-width: 480px) {
	.myTemplatesContainer {
		padding-top: 3em;
	}
}